body {
    margin: 2em;
    font-family: Courier;
}

button {
    margin: 1em;
}

#abilities {
    background-color: rgb(228, 228, 228);
    display: flex;
    padding: 1em;
}

.ability {
    padding: 1em;
}

.ability-button {
    padding: 1em;
    margin: auto;
    display: block;
}

#roles {
    background-color: rgb(54, 54, 54);
}

/* .role {
    padding: 1em;
} */

.role-button {
    padding: 1em;
}

#layers {
    background-color: rgb(148, 148, 148);
}

#loot {
    background-color: rgb(195, 216, 147);
    display: flex;
}

.loot-item {
    margin: 0.5em;
    background-color: blueviolet;
    padding: 1em;
    user-select: none;
}

#equipment {
    background-color: rgb(118, 172, 185);
}

.tooltip {
    visibility: hidden;
    width: 15em;
    background-color: rgb(180, 180, 180);
    padding: 0.5em 0;
    position: absolute;
    bottom: 2em;
    left: 2em;
    z-index: 1;
    border-radius: 6px;
}

.has-tip:hover .tooltip {
    visibility: visible;
}

.tooltip-header {
    font-weight: bold;
}

.bar-inner {
    background-color: rgb(255, 0, 0);
    position: relative;
    top: 1px;
    left: 1px;
    height: calc(100% - 2px);
    margin-top: 1em;
}

.bar {
    background-color: rgb(0, 0, 0);
    height: 0.5em;
    width: 5em;
    margin-top: 1em;
    z-index: 100;
}