body {
    margin: 2em;
    font-family: Courier;
}

button {
    margin: 1em;
}

#abilities {
    background-color: rgb(228, 228, 228);
}

.ability {
    padding: 1em;
}

#layers {
    background-color: rgb(148, 148, 148);
}

.has-tip {
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 10em;
    background-color: rgb(180, 180, 180);
    padding: 0.5em 0;
    position: absolute;
    top: -3em;
    left: 2em;
    z-index: 1;
    border-radius: 6px;
}

.has-tip:hover .tooltip {
    visibility: visible;
}

.tooltip-header {
    font-weight: bold;
}